.header {
  position: fixed;
  width: 100%;
  max-width: 766px;
  transition: opacity, .7s;
  opacity: 0;
	display: none;
  box-shadow: rgba(0,0,0,.54) 5px 5px 2px 0px;
  top: 77px;
  left: calc(50% - 383px);
  background-color: #a0a0a0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.close {
  margin: 3px 8px 0 0;
  background-color: #e0e0e0;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 23px;
  padding-left: 2.5px;
  line-height: 0.65;
  cursor: pointer;
  -webkit-box-shadow: #515151 2px 2px 0px 0px;
  box-shadow: #515151 2px 2px 0px 0px;
}

.close:hover {
  margin: 4px 7px 0 0;
  box-shadow: #515151 1px 1px 0px 0px;
}

.title {
  font-size: 18px;
  color: #fff;
  text-shadow: black 1px 1px 0px;
  margin-top: 2px;
}
