.main {
  color: #00ff00;
  margin: 20px;
  font-size: 18px;
  height: 100%;
}

.main form {
  opacity: 0;
  filter: alpha(opacity=0);
  width: 0;
  height: 0;
}

.main .cursor {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #00ff00;
  }
}
