html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #000;
	font-family: Consolas;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	image-rendering: pixelated;
}

#img_of_me {
	 height: 272px;
}

span {
	white-space: pre-wrap;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
	overflow-y: scroll;
	border: #a0a0a0 solid;
	overflow-x: hidden;
}
