@media screen and (max-width: 555px) {
    #topBar, #terminal {
        display: none !important;
    }
		#sizealert {
			display: block !important;
		}
}
@media screen and (max-width: 470px) {
    #topBar, #terminal {
        display: none !important;
    }
		#sizealert {
			display: block !important;
			left: 0 !important;
			margin: 0 10px !important;
		}
}
@media screen and (max-height: 640px) {
    #topBar, #terminal {
        display: none !important;
    }
		#sizealert {
			display: block !important;
		}
}
html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #000;
	font-family: Consolas;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	image-rendering: pixelated;
}

#sizealert {
	color: #0f0;
	top: 30px;
	background-color: rgba(0,0,0,.87);
	border-radius: 3px;
	max-width: 400px;
	left: calc(50vw - 200px);
	line-height: 1.1;
	display: none;
	position: fixed;
	border: #a0a0a0 solid;
	box-shadow: rgba(0,0,0,.54) 5px 5px 2px 0px;
}

#sizealert hr {
	border-color: #a0a0a0;
	border-width: 2px;
	border-style: solid;
}

#sizealert h1, #sizealert h3 {
	margin: 0;
	padding: 10px 5px;
}

#poweringup {
	position: fixed;
	transition: opacity, .5s;
	width: 100%;
	left: 0;
  top: 40vh;
	line-height: 1.1;
	display: none;
	opacity: 0;
  color: #0f0;
}

#welcomeTxt {
	position: fixed;
	transition: opacity, .5s;
	width: 100%;
	left: 0;
  top: 30vh;
	line-height: 1.1;
	display: block;
	opacity: 0;
  color: #0f0;
}

#welcomeTxt span {
	font-size: 18px;
}

#welcomeTxt img {
	cursor: pointer;
}

a {
	color: #0f0;
}

::-webkit-scrollbar {
  display: none;
}

#img_of_me {
	 height: 272px;
}

span {
	white-space: pre-wrap;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

#app main {
	transition: opacity, .5s;
	opacity: 0;
	display: none;
	height: 100vh;
	background-color: rgb(43, 88, 43);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
